@import url(../unb-base/style.css);
@import url(../base/style.css);
body {
  background: #EEE;
  color: #000;
}


#wrap-2 {
  margin-top: 0 !important;
}

/* BETA - INICIO */

#site-title {
  overflow: visible;
}

#beta {
  width: 98px;
  height: 98px;
  position: absolute;
  top: -48px;
  left: -25px;
}

#beta span {
  display: none;
}

/* BETA - FINAL */

#wrap-1 {
  width: auto;
  position: relative;
}

#site-title {
  width: 343px;
  height: 72px;
  left: 25px;
  top: 70px;
}

#site-title a {
  position: static;
  display: block;
  width: 343px;
  height: 72px;
  background: url(images/logo.png);
  background-repeat: no-repeat;
}

/* * * Controles do topo * * * * * * * * * * * * * * * * * * * * * * * * * */

#theme-header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 100;
  height: 0px;
}

#wrap-2 #user {
  display: none !important;
}


#top-functions-box {
  margin: auto;
  color: #FFF;
  font-size: 13px;
}

#top-functions-box a {
  color: #FFF;
}

#top-functions-box a:hover {
  text-shadow: 0 0 4px #FFF;
}

#top-functions {
  float: right;
  background: #006633;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  height: 32px;
}

#top-functions span {
  font-weight: bold;
}

.logged-in #top-functions {
  padding-left: 6px;
}

#conecte-se {
  display:inline-block;
  position: relative;
  right: 0px;
  top: -7px;
}
#conecte-se a {
  text-decoration: none;
}

#conecte-se .signup,
#conecte-se .or {
  display: none;
}

#user {
  display: inline-block;
  position: static;
  color: rgba(255,255,255,0.4);
  border-left: 1px dotted #959491;
  padding-left: 6px;
  margin-left: 11px;
}

.logged-in #user {
  border-left: none;
  padding-left: 0;
}

.logged-in .label-conect {
  display: none;
}

#user a {
  text-decoration: none;
}

#user .not-logged-in a {
  background: url(images/icons/ok-smal.png) no-repeat 0% 50%;
  padding-left: 15px;
  margin: 0px 3px;
}

#user .not-logged-in a i {
  display: none;
}

#user a strong {
  color: #D8D4D0;
}
#user a:hover strong {
  color: #FFF;
}

#user form div {
  display: none;
}

#top-search{
  float: right;
  margin-top: 74px;
}

#top-search input {
  background: #F3F2F1;
  border: 1px solid #A09890;
  padding: 7px 0px 7px 3px;
  width: 186px;
}

#top-search div{
  display: none;
}

#top-search:hover div{
  display: block;
}

#top-search div {
  color: #000;
  background: #FFF;
  font-size: 11px;
  position: relative;
  display: none;
  bottom: -5px;
  left: 0px;
}

#menu-top {
  display:inline-block;
  margin: 8px 0px 0px -5px;
  padding: 0px;
}

#menu-top li {
  list-style: none;
  display: block;
  height: auto;
  /* width: 125px; */
  float: left;
  text-align: center;
  position: relative;
  margin-right: 20px;
}

#menu-top li:last-child {
  margin-right: 0;
}

#menu-top a {
  display: block;
  /* line-height: 42px; */
  text-decoration: none;
  font-weight: bold;
}


#menu-top .menu-submenu ul, #menu-top .menu-submenu li {
  float: none;
  text-align: right;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#menu-top .menu-submenu {
  bottom: -75px;
  width: auto;
  min-width: 100%;
  top: 32px;
  right: -10px;
  position: absolute;
}

#menu-top .menu-submenu ul {
  border-top: 0px;
  background: #006633;
  /*background-image: -webkit-linear-gradient(bottom, #564F47, #736D64);
  background-image:    -moz-linear-gradient(bottom, #564F47, #736D64 90%);
  background-image:     -ms-linear-gradient(bottom, #564F47, #736D64);
  background-image:      -o-linear-gradient(bottom, #564F47, #736D64);
  background-image:         linear-gradient(bottom, #564F47, #736D64);*/
  padding: 0px 3px 4px 0px;
  height: auto;
  display: block;
}

#menu-top .menu-submenu a {
  padding: 4px 5px;
  font-size: 11px;
  line-height: normal;
  white-space: nowrap;
}

#menu-top .menu-submenu-trigger {
  background: #B8B4B0 url(/images/down-arrow.png) center center no-repeat;
  opacity: 0.5;
  display: none;
  height: 11px;
  top: 21px;
  left: 0;
  width: 100%;
  outline: none;
  border: none;
}
#menu-top li:hover .menu-submenu-trigger:hover {
  background: #FFF url(/images/down-arrow.png) center center no-repeat;
  border: none;
}

#menu-top li:hover .menu-submenu-trigger {
  display: block;
}

#menu-top .menu-submenu-header, #menu-top .menu-submenu-footer, #menu-top .menu-submenu h4 {
  display: none;
}

#menu-top span.icon-menu-people {
  background-image: url(images/icons/persons.png);
}
#menu-top span.icon-menu-community {
  background-image: url(images/icons/gear.png);
}
#menu-top #submenu-contents span {
  background-image: url(images/icons/icone-08.png);
}
#conecte-se span.label-conect {
  display: none;
  background-image: url(images/icons/icone-blogoosfero.png);
}


/* * * fim dos Controles do topo * * * * * * * * * * * * * * * * * * * * * */


/* o bloco navigation será degenerado para um simples separador */
#navigation {
  background: none;
}

#navigation-end {
  display: none;
}

#wrap-2 {
  margin: 20px auto 0px auto;
  width: 941px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: none;
}

#content {
  margin-top: 166px;
}

#main-content-wrapper-1, #main-content-wrapper-2,
#main-content-wrapper-3, #main-content-wrapper-4,
#main-content-wrapper-5, #main-content-wrapper-6,
#main-content-wrapper-7, #main-content-wrapper-8,
.blog-post {
  background: none;
}

/* * * INI Blocos * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#content .block-title {
  border: none;
  color: #003366;
  font-size: 14px;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px solid #888;
}

#content .box-2 .block-title span,
#content .box-3 .block-title span {
  line-height: 26px;
  display: block;
}
/*#content .friends-block .block-title span,
#content .people-block .block-title span,
#content .profile-list-block .block-title span {
  background: url(images/icons/persons.png) no-repeat 0% 50%;
  padding-left: 15px;
}

#content .communities-block .block-title span {
  background: url(images/icons/gear.png) no-repeat 0% 50%;
  padding-left: 13px;
}*/


.login-box {
  background: #EEE;
  padding: 10px 5px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#content .login-block h2 {
  background: url(images/icons/persons.png) no-repeat 0% 50%;
  border: none;
  color: #000;
  font-variant: normal;
  font-weight: normal;
  padding-left: 15px;
  margin-top: 10px;
}

.login-block {
  border-top: 1px solid #888;
}

.login-block .login-box form {
  padding: 0px;
}

.login-block .forgot-passwd a {
  font-size: 11px;
  color: #651;
}

.login-box .formfieldline input {
  background: #FFF;
  color: #651;
  border: none;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 7px 0px;
  font-size: 15px;
}

.icon-menu-logout{
  background-image: url('images/icons/exit.png');
}
.icon-menu-logout span{
  padding-left: 7px;
}

#content .login-block .button {
  line-height: auto;
  max-height: none;
  color: #651;
}
#content .login-block .button:hover {
  color: #000;
  border: none;
}

#content .login-block .button.with-text span {
  padding: 20px;
}

#content .login-block input.button.icon-login {
  background: #DFDAD0;
  background-image: -webkit-linear-gradient(top, #EFEAE0, #CFCAC0);
  background-image:    -moz-linear-gradient(top, #F4F0E0, #DFDAD0, #C8C8C8);
  background-image:     -ms-linear-gradient(top, #EFEAE0, #CFCAC0);
  background-image:      -o-linear-gradient(top, #EFEAE0, #CFCAC0);
  background-image:         linear-gradient(top, #EFEAE0, #CFCAC0);
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#content .login-block input.button.icon-login:hover {
  -webkit-box-shadow: 0 0 6px #FFF;
  -moz-box-shadow: 0 0 6px #FFF;
  box-shadow: 0 0 6px #FFF;
}

#content .login-block a.button.icon-add {
  margin-left: 5px;
  background: transparent;
}
#content .login-block a.button.icon-add:hover {
  text-decoration: underline;
}

#content .link-list-block li {
  background: #FFF;
  border: 1px solid #FFF;
  position: relative;
}

#content .link-list-block li .link-this-page-background {
  position: absolute;
  display: none;
  background-repeat: no-repeat;
  background-position: center center;
  height: 30px;
  top: -1px;
  width: 19px;
}
#content .link-list-block li a.link-this-page .link-this-page-background {
  display: block;
  border-color: #fff;
}
.template-default #content .box-2 .link-list-block li .link-this-page-background,
.template-leftbar #content .box-2 .link-list-block li .link-this-page-background { /* left */
  /*background-image: url(images/selected-menu-left.png);*/
  right: -17px;
}
.template-default #content .box-2 .link-list-block li a:hover .link-this-page-background,
.template-leftbar #content .box-2 .link-list-block li a:hover .link-this-page-background { /* left */
  /*background-image: url(images/selected-menu-left-hover.png);*/
  right: -17px;
}
.template-rightbar #content .box-2 .link-list-block li .link-this-page-background,
.template-default #content .box-3 .link-list-block li .link-this-page-background { /* right */
  /*background-image: url(images/selected-menu-right.png);*/
  left: -17px;
}
.template-rightbar #content .box-2 .link-list-block li a:hover .link-this-page-background,
.template-default #content .box-3 .link-list-block li a:hover .link-this-page-background { /* right */
  /*background-image: url(images/selected-menu-right-hover.png);*/
  left: -17px;
}

#content .link-list-block li a {
  background: none;
  border: none;
  border-bottom: 1px dotted #555753;
  background-color: transparent;
  color: #003366;
  padding: 2px 1px 2px 23px;
  border-radius: 0px;
}

#content .link-list-block li a:hover,
#content .link-list-block li a:active,
#content .link-list-block li a.link-this-page:hover {
  background: none;
  border: none;
  border-bottom: 1px dotted #555753;
  border-radius: 0px;
  background-color: #F0F0F0;
  color: #003366;
}


#content .link-list-block li a.link-this-page {
  border-radius: 0px;
  background-color: #F0F0F0;
  border: none;
  border-bottom: 1px dotted #555753;
}

#public-profile-search, #profile-search-results form, .profile-search-block form {
  background-color: #FFF;
  border-radius: 0px;
}

.search-field div{
  display: none;
}
.formfield input {
  background-image: none;
  background-color: #F3F2F1;
  border: 1px solid #A09890;
  padding: 3px 0px 3px 1px;
  color: #000;
}
/* * * FIM Blocos * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/* * * Notícias * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#content .main-block h1 {
  padding: 0px 0px 14px 0px;
  font-variant: normal;
  font-weight: normal;
  border-bottom: 1px solid #888;
  color:#003366;
}

.highlighted-news-item {
  border: none;
  /*padding-bottom: 10px;*/
  border-bottom: 1px solid #888;
}

#portal-news ul {
  border: none;
}

.news-area {
  background-image:         linear-gradient(top, #EEE, #FFF 66%, #FFF);
}

#content .news-area h3 {
  background: transparent;
  padding: 4px 0px 14px 2px;
}

#content .news-area h3 a {
  color: #003366;
}

.news-area ul {
  background: transparent;
  border: none;
}

#content .news-area a.news-see-more {
  background: url(images/icons/more.png);
  display: block;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 7px;
  padding: 0px;
  color: transparent;
  overflow: hidden;
  opacity: 0.7;
}
#content .news-area a.news-see-more:hover {
  color: transparent;
  opacity: 1;
}

/* * * Light Box * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#TB_window {
  background-image: -webkit-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:    -moz-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:     -ms-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:      -o-linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  background-image:         linear-gradient(top, #F4F4F4, #F4F4F4, #D0D0D0);
  box-shadow: 3px 3px 25px #000;
}

#TB_window .login-box {
  background: transparent;
}

#TB_window .formfieldline input {
  -webkit-box-shadow: inset 1px 1px 3px #BBB;
  -moz-box-shadow: inset 1px 1px 3px #BBB;
  box-shadow: inset 1px 1px 3px #BBB;
}

/* * * Footer * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#theme-footer {
  background: #E4E4E4;
  width: auto;
  margin: -5px 0px;
  position: relative;
  z-index: 10;
  overflow: hidden;
}

#footer-content {
  background: #EEE;
  margin: -5px auto;
  padding: 30px 20px 20px 20px;
  width: 921px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-size: 14px;
}

#footer-content ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#footer-content li {
  margin: 0px;
  padding: 0px 47px;
  display: block;
  float: left;
}

#footer-content li ul {
  padding: 5px 0px;
}

#footer-content li li {
  float: none;
  display: block;
  padding: 5px 0px;
}

#footer-content a {
  color: #003366;
}
#footer-content a:hover {
  color: #333;
  text-decoration: underline;
}

#external-sns a {
  padding-left: 20px;
  background: url(images/icons/icon-twitter.png) 0% 50% no-repeat;
}
#external-sns .facebook a {
  background-image: url(images/icons/icon-facebook.png);
}
#external-sns .flickr a {
  background-image: url(images/icons/icon-flickr.png);
}
#external-sns .youtube a {
  background-image: url(images/icons/icon-youtube.png);
}
#external-sns .vimeo a {
  background-image: url(images/icons/icon-vimeo.png);
}
#external-sns .identica a {
  background-image: url(images/icons/icon-identica.png);
}

#footer-search input {
  width: 100%;
  padding: 5px 2px;
  border: none;
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

#theme-footer #language-chooser {
  clear: both;
  margin-top: 1.5em;
}

#license-on-footer {
  padding: 170px 48px 0;
  font-size: 11px;
  text-align: left;
  color: #003366;
}

#footer-cc {
  display: block;
  width: 24px;
  height: 24px;
  background: url(images/cc.png);
  float:left;
  margin-right: 5px;
}

#footer-cc span {
  display: none;
}

#powered-by-noosfero {
  font-size: 11px;
  text-align: center;
}

/* mudancas joenio */

.highlights-block {
  height: 277px;
  width: 504px;
  border: 0;
  background: transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.highlights-image-link {
  width: 504px !important;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: #fff;
}

.highlights-container,
.highlights-image-link {
  height: 275px !important;
  border:none;
}

.highlights-block-pager {
  border: 0;
  float: left;
  position: static;
}

.highlights-label {
  padding-left: 5px;
  text-align: left;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  font-weight: bold;
  background: transparent url(/images/black-alpha-pixel.png) left top repeat;
}

.highlights-label {
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  font-size: 14px;
}

/* Primeira imagem */
.highlights-block-pager a {
  height: 17px;
  width: 25px;
  margin-left: 0px;
  padding: 10px;
  color: transparent;
  background: url(images/highlights-image-link.png) center center no-repeat;
}
.highlights-block-pager a.activeSlide,
.highlights-block-pager a.activeSlide:visited,
.highlights-block-pager a:visited,
.highlights-block-pager a:hover {
  color: transparent;
  background: url(images/highlights-image-link-active.png) center center no-repeat;
}

.block a.highlights-image-link {
  position: absolute;
  left: 0px;
}

.highlights-block-pager {
  height: 20px;
  background-color: #EEE;
  width: 495px;
}

.link-list-block .sobre {
  background-image: url(images/icons/icone-06-grande.png);
}
.link-list-block .uso-da-rede {
  background-image: url(images/icons/icone-07-grande.png);
}
.link-list-block .mailing {
  background-image: url(images/icons/icone-09-grande.png);
}
.link-list-block .rss {
  background-image: url(images/icons/icone-10-grande.png);
}
.link-list-block .lista {
  background-image: url(images/icons/icone-11-grande.png);
}

.link-this-page,
.link-this-page:hover {
  border-right: none !important;
  width: auto !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#block-614 .block-title span {
  background-image: url(images/icons/icon-twitter-gray.png) !important;
}

#content .profile-info-block h2,
#content .profile-image-block p,
.action-profile-index #content .main-block h1 {
  font-weight: bold;
}

#content .profile-info-block h2,
#content .profile-image-block p,
.action-profile-index #content .main-block h1,
#content .main-block #article h1.title {
 color: #336699;
}

#profile-header{
  max-height: 217px;
}
.action-home-index #content .main-block h1 {
   font-size: 16px;
   font-weight: bold;
}

body #content .highlighted-news-read-more a {
   background: url(images/icons/lista-menu.jpg) left center no-repeat;
   padding-left: 12px;
   text-transform: lowercase;
   text-decoration: underline;
}

.feed-reader-block li,
.recent-documents-block li {
  list-style-image: url("images/icons/lista-menu.jpg");
}

.recent-documents-block ul {
  padding-left: 13px;
}

#content .environment-statistics-block li {
  list-style: square;
}

.news-area li {
  list-style-image: none;
  margin-left: 0;
}

.news-area ul {
overflow: hidden;
height: 165px;
padding: 0;
}

.main-block .article-body {
  overflow-x: hidden;
}
.main-block #article-header .title {
  overflow-x: hidden;
}

.controller-doc a:link,
.controller-doc a:hover,
.controller-doc a:active,
.controller-doc a {
  color: #222;
}

.controller-doc a:visited {
  color: #ccc;
}

/* content from UnB team*/

#highlighted-news h2 a {
  color: #336699;
}

#article a {
  color: #003366;
}

#article-sub-header, #article-tags, #article-hits{
  display: none;
}

#content .blog-post .title a {
color: #003366;
font-weight: normal;
text-decoration: none;
}

.menu-cursos {
    list-style: none outside none;
    padding: 1px;
}

.menu-cursos img {
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}
.menu-cursos img:hover {
  opacity: 0.5;
}

/* artigo */

.article-body>h2>span>strong{
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: 300;
  margin: 8px 0;
  line-height: 1.15em;
}
.article-body{
  color: #444;
  line-height: 1.9em;
}

.article-body>h2 {
  background: url("images/divider.png") center top no-repeat;
  left: 0;
  right: 0;
  padding-top: 14px;
}

/* Header */

#site-title {
  width: 343px;
  height: 72px;
  left: 25px;
  top: 70px;
}

#site-title a {
  position: static;
  display: block;
  width: 343px;
  height: 72px;
  background: url(../unb-gama/images/logo.png);
  background-repeat: no-repeat;
}

#site-title span {
  display: block;
}

#content {
  margin-top: 166px;
}

#content-inner {
  border-top: 3px solid #006633;
  padding-top: 20px;
}

#top-search{
  float: right;
  margin-top: 74px;
  display: inline-block;
}

#top-search input {
  background: #F3F2F1;
  border: 1px solid #A09890;
  padding: 7px 0px 7px 3px;
  width: 186px;
}

#top-search div{
  display: none;
}

#site-title{
  display: inline-block;
}

#top-search{
  display: inline-block;
}

#top-search:hover div{
  display: block;
}

#top-search div {
  color: #000;
  background: #FFF;
  font-size: 11px;
  position: relative;
  display: none;
  bottom: -5px;
  left: 0px;
}

.members-buttons-cell{
  width: 100% !important;
}

table.cms-articles th:nth-child(2){
  width: 12%;
}

table.cms-articles th:nth-child(3){
  width: 38%;
}

/* flags style */

.flags{
  float: right;
  padding: 3px;
}

div.article-body.article-body-tiny-mce-article.has-flags {
  margin-top: 37px;
}


.profile-info-options {
  padding-right: 2px;
}

a.button.icon-add.with-text.join-community {
  width: 151px;
}

a.button.icon-delete.with-text.leave-community {
  width: 151px;
}

a.button.icon-menu-mail.with-text {
  width: 151px;
}

.profile-info-options a.button.icon-alert.with-text.report-abuse-action {
  width: 151px;
}
.article-translations {
  margin-top: -39px;
  padding-top: 96px;
}

span.publishing-info.has-flags{
  float: left;
  margin-top: 1px;
}

.publishing-info {
  margin-top: 10px;
}

.article-body {
  margin-top: 10px;
}

#agenda > div.agenda-calendar > table > caption > a.button.icon-next.with-text{
  padding-left: 6px !important;
  padding-right: 21px !important;
}

#events-of-the-day {
  padding-top: 10px;
}

.button.icon-vertical-toggle.with-text {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  position: static;
  float: right;
}

#content-inner > div.no-boxes > div > div > div > div.text-editor-sidebar > div.header {
  height: 20px;
}

.text-editor-sidebar{
  margin-top: 63%;
  margin-right: -9px;
}

#content-inner > div.no-boxes > div > div > div > div.with_media_panel {
  width: 940px;
}

/* Changing css */
#content .main-block .publishing-info {
  text-align: left;
  color: #AAA;
  font-size: 11px;
  margin-bottom:15px;
}

/* fixing flag and bookmark style */

#addThis {
  margin-top: -37px;
}

#bt_addThis.without-flags > img {
  padding-top: 15px;
}

#bt_addThis.with-flags > img {
  padding-top: 0px;
}

