<div id="barra-brasil">
</div>
<div id="top-functions-box">
  <div id="top-functions">
    <ul id="menu-top">

    <li><%= link_to 'UnB',  "http://www.unb.brbr" %></li>
    <li><%= link_to 'UnB Gama',  "/" %></li>
    <li><%= link_to 'NIT',  "/nit" %></li>
    
    </ul>
  </div>
</div>
